PORT=4000
DB_HOST=zephyr.proxy.rlwy.net
DB_PORT=27337
DB_USER=root
DB_PASSWORD=ZJdlhPXvJMfUppEizobQpPghxWSNFsrV
DB_NAME=railway
NODE_ENV=production

GMAIL_USER=yourapp@gmail.com
GMAIL_PASS=your_app_password_here